products/trident-g-wellness/integration/kastel-stack/seo-agent/workflows/seo_digest_gmail_v1.n8n.json
{
  "name": "seo_digest_gmail_v1",
  "nodes": [
    {
      "parameters": {},
      "id": "n1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        260
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "name": "workspace_id",
              "value": "={{$env.WORKSPACE_ID || 'iqmindware'}}",
              "type": "string"
            },
            {
              "name": "run_id",
              "value": "={{$json.run_id || ''}}",
              "type": "string"
            },
            {
              "name": "mission_id",
              "value": "={{$json.mission_id || ''}}",
              "type": "string"
            },
            {
              "name": "top_n",
              "value": 10,
              "type": "number"
            }
          ]
        }
      },
      "id": "n2",
      "name": "Build Digest Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        430,
        260
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.KERNEL_BASE_URL + '/kernel/seo/runs/' + $json.run_id + '/summary?workspace_id=' + $json.workspace_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$env.KERNEL_API_KEY ? 'Bearer ' + $env.KERNEL_API_KEY : ''}}"
            }
          ]
        }
      },
      "id": "n3",
      "name": "Fetch Kernel Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        690,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $json.recommendations || [];\nreturn items.map((item) => ({ json: item }));"
      },
      "id": "n4",
      "name": "Split Recommendations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        930,
        260
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "priority_score"
            }
          ]
        },
        "options": {
          "sortDirection": "descending"
        }
      },
      "id": "n5",
      "name": "Sort by Priority",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1160,
        260
      ]
    },
    {
      "parameters": {
        "maxItems": "={{$item(0).$node['Build Digest Context'].json.top_n}}"
      },
      "id": "n6",
      "name": "Limit Top N",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1370,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $item(0).$node['Build Digest Context'].json;\nconst runId = ctx.run_id || '';\nconst missionId = ctx.mission_id || $json.mission_id || '';\nconst workspaceId = ctx.workspace_id || 'iqmindware';\nconst lines = items.map((it, idx) => `${idx + 1}. [${it.json.bucket}] ${it.json.issue_type} - score ${Number(it.json.priority_score || 0).toFixed(2)}\\n   ${it.json.recommended_action || ''}\\n   ${it.json.page_url || ''}`);\nreturn [{json:{\n  subject: `SEO Weekly Digest - Run ${runId}`,\n  body: `Top opportunities for this run:\\n\\n${lines.join('\\n\\n')}\\n\\nGenerated by seo_digest_gmail_v1.`,\n  workspace_id: workspaceId,\n  mission_id: missionId,\n  run_id: runId,\n  event_name: 'ks.observe.metrics_recorded',\n  contract_name: 'SeoRecommendationsGenerated.v1',\n  contract_version: 'v1',\n  event_id: runId,\n  idempotency_key: `digest-${runId}`,\n  risk_level: 'low',\n  psi_state: 'map',\n  producer_domain: 'n8n.seo.digest',\n  consumer_domain: 'kernel.seo.digest',\n  occurred_at: $now.toISO(),\n  trace_refs: ['n8n:seo_digest_gmail_v1'],\n  payload: {\n    top_n: Number(ctx.top_n || 10),\n    recommendation_count: items.length\n  }\n}}];"
      },
      "id": "n7",
      "name": "Build Email Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1590,
        260
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\"note\":\"Attach this output to your existing Gmail report node in n8n.\",\"to\":$env.GMAIL_TO,\"subject\":$json.subject,\"body\":$json.body}"
      },
      "id": "n8",
      "name": "Gmail Adapter Note",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1810,
        260
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Digest Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Digest Context": {
      "main": [
        [
          {
            "node": "Fetch Kernel Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Kernel Summary": {
      "main": [
        [
          {
            "node": "Split Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Recommendations": {
      "main": [
        [
          {
            "node": "Sort by Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Priority": {
      "main": [
        [
          {
            "node": "Limit Top N",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Top N": {
      "main": [
        [
          {
            "node": "Build Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Body": {
      "main": [
        [
          {
            "node": "Gmail Adapter Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "1"
}
